<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" type="text/css" href="../header.css">
  </head>
  <body>
  {{{a}}}
  <header>
      <div class="menu-bar">
          <ul>
              <li>
                  <a class="img1"> <img src="../picture/展开.png" height="20" width="20"/></a>
                  <ul>
                      <li class="img2">
                          <a href="../about%20sharp/about%20sharp.html" target="_blank"><img src="../picture/关于Sharp.png" height="50" width="100"/></a>
                          <a href="../Logistics%20information/Logistics%20information.html" target="_blank"><img src="../picture/物流信息.png" height="50" width="100"/></a>
                          <a href="../order%20status/order%20status.html" target="_blank"><img src="../picture/订单状态.png" height="50" width="100"/></a>
                          <a href="../Returns%20a%20replacement/Returns%20a%20replacement.html"><img src="../picture/退货换货.png" height="50" width="100"/></a>
                          <a href="../policy/policy.html" target="_blank"><img src="../picture/相关政策.png" height="50" width="100"/></a>
                          <a href="../Common%20problems/Common%20problems.html" target="_blank"><img src="../picture/常见问题.png" height="50" width="100"/></a>
                          <a href="../Contact%20us/Contact%20us.html" target="_blank"><img src="../picture/联系我们.png" height="50" width="100"/></a>
                          <a href="../join%20us/join%20us.html" target="_blank"><img src="../picture/加入我们.png" height="50" width="100"/></a>

                      </li>
                  </ul>
              </li>
          </ul>
      </div>
      <div class="menu-bar">
          <ul>
              <li>
                  <p class="p1"style="cursor: pointer">商城</p>
                  <ul>
                      <li>
                          <br>
                          <h5 style="font-size: 15px" class="h">剪刀类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;刀类</h5>
                          <h6 style="font-size: 13px"><a href="http://localhost:3019/sheep"target="_blank">羊毛剪</a><img src="../picture/羊毛剪.png" height="400" width="500" class="imgC"/>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a href="../knife/Meat%20cleaver.html" target="_blank">切肉刀</a><img src="../picture/切肉刀.png" class="imgC"/>
                          </h6>
                          <h6 style="font-size: 13px"><a href="../office/office.html"target="_blank">办公剪</a><img src="../picture/办公剪导航.png" height="400" width="500"class="imgC"/>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a href="../knife/Boning%20knife.html" target="_blank">剔骨刀</a><img src="../picture/剔肉刀.png" class="imgC"/>
                          </h6>
                          <h6 style="font-size: 13px"><a href="../学生剪/学生剪.html" target="_blank">学生剪</a><img src="../picture/学生剪刀.png" height="400" width="500" class="imgC"/>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a href="../knife/Bread%20knife.html"target="_blank">面包刀</a><img src="../picture/面包刀.png"class="imgC"/>
                          </h6>
                          <h6 style="font-size: 13px"><a href="../garden/garden.html" target="_blank">园林剪</a><img src="../picture/园林剪.png"class="imgC"/>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a href="../knife/Vegetable%20knife.html"target="_blank">蔬菜刀</a><img src="../picture/蔬菜刀.png" height="400" width="500"class="imgC"/>
                          </h6>
                          <h6 style="font-size: 13px"><a href="../tailor/tailo.html" target="_blank">裁缝剪</a><img src="../picture/裁缝剪.png"class="imgC"/>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a href="../knife/A%20small%20knife.html"target="_blank">小切刀</a><img src="../picture/小切刀.png" height="400" width="500" class="imgC"/>
                          </h6>
                          <h6 style="font-size: 13px"><a href="../household/household.html"target="_blank">家用剪</a><img src="../picture/家用剪刀.png"class="imgC"/>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a href="../knife/Paring%20knife.html"target="_blank">削皮刀</a><img src="../picture/削皮刀.png"class="imgC"/>
                          </h6>
                          <h6 style="font-size: 13px"><a href="../hair/hair.html" target="_blank">美发剪</a><img src="../picture/美发剪.png" height="400" width="500"class="imgC"/>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a href="../knife/Steak%20knife.html"target="_blank">牛排刀</a><img src="../picture/牛排刀.png"class="imgC"/>
                          </h6>
                          <h6 style="font-size: 13px"><a href="../铁皮剪/铁皮剪.html" target="_blank">铁皮剪</a><img src="../picture/铁皮剪.png" height="400" width="500"class="imgC"/>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a href="../knife/fruit%20knife.html"target="_blank">水果刀</a><img src="../picture/水果刀.png"class="imgC"/>
                          </h6>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
      <div class="menu-bar">
          <ul>
              <li>
                  <p class="p2" style="cursor: pointer">新系列</p>
                  <ul>
                      <li class="img3">
                          <!--<div class="img3">-->
                          <a href="index2.html"><img src="../picture/山特维克多用刀.png" height="30%" width="30%"/></a>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <a><img src="../picture/套刀.png"height="30%" width="30%"/></a>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <a><img src="../picture/鎏金剪.png" width="30%" height="30%"/></a>
                          <!--</div>-->
                      </li>
                  </ul>
              </li>
          </ul>

      </div>
      <div>
          <a href="../find/find.html" target="_blank"><p style="color: dimgrey" class="p3">发现</p></a>
      </div>
      <div class="img4">
          <a href="http://localhost:3019/"><img src="../picture/SHARP.png" height="60%" width="60%"/></a>
      </div>
      <div>
          <a href="../Login/login.html" target="_blank" id="login3"><p class="p4" id="login2">登录</p></a>
          <a href="../Register/register.html" target="_blank"><p class="p5">注册</p></a>
          <a href="../CN/cn.html/" target="_blank"><p class="p6">CN/RMB</p></a>
          <a href="../search/search.html" target="_blank" class="img5"><img src="../picture/search.png" height="20" width="20"/></a>
          <a href="../favourite/favourite.html"target="_blank" class="img6"><img src="../picture/favorites.png" height="20" width="22.3"/></a>
          <a href="http://localhost:3019/shopcar"target="_blank" class="img7"id="gouwuche2"><img src="../picture/_购物车.png" height="30" width="30"id="gouwuche"/> </a>
      </div>
  </header>
    {{{body}}}
  <footer id="index_footer">
      <div class="img9">
          <a href="../about%20sharp/about%20sharp.html" target="_blank"><img src="../picture/关于Sharp.png" height="50" width="100"/></a>
          <a href="http://localhost:3019/wuliu"target="_blank"><img src="../picture/物流信息.png" height="50" width="100"/></a>
          <a href="../order%20status/order%20status.html"target="_blank"><img src="../picture/订单状态.png" height="50" width="100"/></a>
          <a href="../Returns%20a%20replacement/Returns%20a%20replacement.html"target="_blank"><img src="../picture/退货换货.png" height="50" width="100"/></a>
          <a href="../policy/policy.html"target="_blank"><img src="../picture/相关政策.png" height="50" width="100"/></a>
          <a href="../Common%20problems/Common%20problems.html"target="_blank"><img src="../picture/常见问题.png" height="50" width="100"/></a>
          <a href="../Contact%20us/Contact%20us.html"target="_blank"><img src="../picture/联系我们.png" height="50" width="100"/></a>
          <a href="../join%20us/join%20us.html"target="_blank"><img src="../picture/加入我们.png" height="50" width="100"/></a>
      </div>
      <p class="p7">订阅Sharp最新动态</p>
      <form action="/insertemail" method="post" style="height: 100px">
          <div class="relative3">
              <input type="text" name="email" size="56" maxlength="24" value=" Email.." style="color: darkgray ;height: 30px ;width: 350px;border-color: black;"id="sub"onclick="clearme1()">
          </div>
          <div class="relative4">
              <input type="submit" value="订阅" style="height: 38px;width: 70px ;background: #1f1a1a;color: #FFFFFF;font-weight: bold;border: none;border-color: black"id="sub1"onclick="sub11()">
          </div>
          <div class="img10">
              <a href="https://weixin.qq.com/" target="_blank"> <img src="../picture/微信.png" height="30" width="30"/></a>
              <a href="https://weibo.com/" target="_blank"> <img src="../picture/微博.png" height="30" width="30"/></a>
              <a href="http://www.tui-te.com/" target="_blank">    <img src="../picture/twitter新.png" height="30" width="30"/></a>
              <a href="https://m.facebook.com/" target="_blank">    <img src="../picture/Facebook.png" height="30" width="30"/></a>
              <a href="http://instagram.com/" target="_blank">   <img src="../picture/ins新.png" height="30" width="30"/></a>
          </div>
      </form>
  </footer>
  <div id="11111"></div>
  </body>
<script>
    var a=document.getElementById("login2");
    var b=document.getElementById("person");
    var c=document.getElementById("login3");
    var d=document.getElementById("footer_personal");
    var e=document.getElementById("index_footer");
    var g=document.getElementById("footer_shopcar");
    var t=document.getElementById("footer_products");
    if(t){
        e.style.display="none";
    }
    if(d){
        e.style.display="none";
    }
    if(g){
        e.style.display="none";
    }

    if(b.name=="person"){
        a.innerHTML="个人";
        c.href="http://localhost:3019/personal";
    }

    // a.innerHTML=global.per;
    // c.href=global.per_url;


</script>
</html>
