<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> personal</title>
    <link rel="stylesheet" type="text/css" href="../header.css">
    <style>
        header{
            height: 36px;
            border: 1px solid #0000001c;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            width: 1510px;
        }
        .shopcar{
            font-size: 70px;
            margin-top: 30px;
            font-weight: bold;
            margin-left: 520px;
        }
        .divtop{
            border: 1px solid #7474740f;
            height: 514px;
            width: 1509px;
            background-color: #ffffff21;
            border-top:0;
        }
        .wuliuxinxi{
            width: 753px;
            font-size: 14px;
            margin-left: 391px;
            color:#a7a7a7;
            margin-top: 52px;
            letter-spacing: 4px;
        }
    </style>
</head>
<body>
{{{a}}}
<div class="divtop">
    <div class="shopcar">
        物流及关税信息
    </div>
    <div class="wuliuxinxi">
        Sharp所售卖的货品全部由中国以跨境电商的方式进入中国大陆及其他地区。我们将在您支付成功后的3个工作日（中国公众假期不包含）内发货，到货日期需根据海关清关时间决定。根据跨境电子商务零售进口税收政策，个人单笔交易限值人民币2000元，个人年度交易限值人民币20000元。在限值以内进口的跨境电子商务零售进口商品，您需要缴纳跨境电商综合税。本网站所售商品的现时税率为11.9%。
        <br><br><br>
        如想追踪您的包裹，请前往您的订单详情。包裹在海关清关放行后才会显示物流信息，请在下单后稍等几日再前来查询包裹物流详情。
        <br><br><br>
        注：优惠码仅可抵扣商品金额，运费需缴纳税费。税费为Sharp代征代缴，如因个人原因退货，税费将不予返还；如因商品本身问题产生退货，税费将原路返还。
        <br><br><br>
        网站显示价格为完税价格，结账时无需再次缴纳税款。
    </div>
</div>
<footer style="margin-top: -1120px;position: absolute;margin-left: 76px;"id="footer_personal">
    <div class="img9">
        <a href="../about%20sharp/about%20sharp.html" target="_blank"><img src="../picture/关于Sharp.png" height="50" width="100"/></a>
        <a href="http://localhost:3019/wuliu"target="_blank"><img src="../picture/物流信息.png" height="50" width="100"/></a>
        <a href="../order%20status/order%20status.html"target="_blank"><img src="../picture/订单状态.png" height="50" width="100"/></a>
        <a href="../Returns%20a%20replacement/Returns%20a%20replacement.html"target="_blank"><img src="../picture/退货换货.png" height="50" width="100"/></a>
        <a href="../policy/policy.html"target="_blank"><img src="../picture/相关政策.png" height="50" width="100"/></a>
        <a href="../Common%20problems/Common%20problems.html"target="_blank"><img src="../picture/常见问题.png" height="50" width="100"/></a>
        <a href="../Contact%20us/Contact%20us.html"target="_blank"><img src="../picture/联系我们.png" height="50" width="100"/></a>
        <a href="../join%20us/join%20us.html"target="_blank"><img src="../picture/加入我们.png" height="50" width="100"/></a>
    </div>
    <p class="p7">订阅Sharp最新动态</p>
    <form action="" method="get" style="height: 100px">
        <div class="relative3">
            <input type="text" name="email" size="56" maxlength="24" value=" Email.." style="color: darkgray ;height: 30px ;width: 350px;border-color: black;"id="sub"onclick="clearme1()">
        </div>
        <div class="relative4">
            <input type="button" value="订阅" style="height: 38px;width: 70px ;background: #1f1a1a;color: #FFFFFF;font-weight: bold;border: none;border-color: black"id="sub1"onclick="sub11()">
        </div>
        <div class="img10">
            <a href="https://weixin.qq.com/" target="_blank"> <img src="../picture/微信.png" height="30" width="30"/></a>
            <a href="https://weibo.com/" target="_blank"> <img src="../picture/微博.png" height="30" width="30"/></a>
            <a href="http://www.tui-te.com/" target="_blank">    <img src="../picture/twitter新.png" height="30" width="30"/></a>
            <a href="https://m.facebook.com/" target="_blank">    <img src="../picture/Facebook.png" height="30" width="30"/></a>
            <a href="http://instagram.com/" target="_blank">   <img src="../picture/ins新.png" height="30" width="30"/></a>
        </div>
    </form>
</footer>
</body>
</html>